{% extends '@App/layout.html.twig' %}


{% block panel %}
    {% for post in posts %}
        <div class="panel panel-success">
            <div class="panel-heading" style="margin-bottom: 0">

                <a href="{{ path('show_category', {'slug': post.category.slug}) }}"
                   class="pull-right">Category: {{ post.category.categoryName }}</a>
                <h4>{{ post.titlePost }}</h4>
                <small>Rating post</small>
                <span class="badge badge-info">{{ post.rating|round(1, 'floor') }}</span>
                {% if post.pathImage and post.nameImage %}
                    <img src="{{ post.pathImage | imagine_filter('posts_show') }}" class="img-thumbnail pull-right"
                         alt="{{ post.nameImage }}">
                {% endif %}
            </div>

            <div class="panel-body">

                <p>{{ post.textPost|slice(0, 250) }}</p>
                <h5><a href="{{ path('show_post', {'slug': post.slug }) }}">More >>></a></h5>
                <small>Published {{ post.createdAt|date('d.m.Y H:m') }} by Anonymous</small>
                {% if post.createdAt < post.updateAt %}
                    <small>Updated {{ post.updateAt|date('d.m.Y H:m') }} by Anonymous</small>
                {% endif %}

                {% for tag in post.tags %}
                    <div class="pull-right">
                        <a href="{{ path('show_tags', {'slug': tag.slug}) }}">| {{ tag.tagName }} |</a>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar1 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Most Popular</h4>
            {% for post in sidebar1 %}
                <p>
                    <a href="{{ path('show_post', {'slug': post.slug}) }}">{{ post.titlePost }}</a>
                    <small> [ {{ post.rating }} ] </small>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar2 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Last comments</h4>
            {% for comment in sidebar2 %}
                <p>
                    <a href="{{ path('show_post', {'slug': comment.post.slug}) }}">{{ comment.post.titlePost }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar3 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Tags cloud</h4>
            {% for key, tag in sidebar3 %}

                <a href="{{ path('show_tags', {'slug': tag.slug}) }}" id="tags{{ key }}">{{ tag.tagName }}</a>

            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {

            var tags = {{ sidebar3|length }};

            window.onload = function () {
                for (i = 0; i < tags; i++) {
                    if (i < 18) {
                        var size = document.getElementById('tags' + i).style.fontSize = (30 - i) + 'px';
                        var style = document.getElementById('tags' + i).style.color = getRandomColor();
                    } else {
                        var size = document.getElementById('tags' + i).style.fontSize = (30 - 17) + 'px';
                        var style = document.getElementById('tags' + i).style.color = getRandomColor();
                    }
                }

            };
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            };
        })
    </script>
{% endblock %}



