
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ 'Most Popular' | trans }}</h4>
                    {% for post in posts %}
                        <p>
                            <a href="{{ path('show_post', {'slug': post.slug}) }}">{{ post.titlePost |capitalize }}</a>
                            <small><i class="glyphicon glyphicon-star"></i> {{ post.rating | round(1, 'floor') }}</small>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ 'Last comments' | trans }}</h4>
                    {% for comment in comments %}
                        <p>
                            <a href="{{ path('show_post', {'slug': comment.post.slug}) }}">
                                {{ comment.post.titlePost | capitalize }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>{{ 'Tags cloud' | trans }}</h4>
                    {% for key, tag in tags %}

                        <a href="{{ path('show_tags', {'slug': tag.slug}) }}" id="tags{{ key }}">
                            {{ tag.tagName | lower }}</a>

                    {% endfor %}
                </div>
            </div>

    <script>

        var tags = {{ tags|length }};

        window.onload = function () {
            for (i = 0; i < tags; i++) {
                if (i < 18) {
                    var size = document.getElementById('tags' + i).style.fontSize = (30 - i) + 'px';
                    var style = document.getElementById('tags' + i).style.color = getRandomColor();
                } else {
                    var size = document.getElementById('tags' + i).style.fontSize = (30 - 17) + 'px';
                    var style = document.getElementById('tags' + i).style.color = getRandomColor();
                }

            }

        };
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

    </script>

