<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Blog{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">

                <a href="{{ path('homepage') }}" class="navbar-brand">Blog</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
                <form class="navbar-form pull-left" method="post" id="formSearch" action="{{ path('search_all') }}">
                    <div class="input-group" style="max-width:470px;">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit" id="searchData"><i
                                        class="glyphicon glyphicon-search" ></i></button>
                        </div>

                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://geekhub.ck.ua/" target="_ext">GeekHub</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="glyphicon glyphicon-bell"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar-default" id="subnav">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle"
                   data-toggle="dropdown"><i class="glyphicon glyphicon-wrench" style="color:#dd1111;"></i> Admin
                    <small><i class="glyphicon glyphicon-chevron-down"></i></small>
                </a>
                <ul class="nav dropdown-menu">
                    <li><a href="{{ path('insert_post') }}"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Insert Post</a>
                    </li>
                    <li><a href="{{ path('admin_show') }}"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Edit/Delete</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
                </ul>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                    <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="search" class="search_content"></div>
    <!--main-->
{% block content %}
    <div class="container" id="main">
        <div class="row">
            {% block layout %}
            {% endblock %}
            {% block layoutAdmin %}
            {% endblock %}
        </div><!--/row-->
    </div><!--/main-->
{% endblock %}
 <!--login modal-->
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center"><img
                                src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                class="img-circle"><br>Login</h2>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need
                                    help?</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!--about modal-->
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center">About</h2>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        Gonchar Aleksandr<br/>
                        Ukraine, Cherkassy
                        <br><br>
                        <a href="https://github.com/alexgoncharcherkassy/blog">GitHub Fork</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/magicsuggest.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#srch-term').keyup(function(){

                var enterData = $('#srch-term').val();
                var count = enterData.length;
                if (count < 2) {
                    $('#search').hide();
                } else if (count >= 2) {
                    $('#search').show();
                    $.ajax({
                        type: "POST",
                        dataType: 'html',
                        data: {
                            dataSearch: enterData
                        },
                        url: "{{ path('search_show') }}"
                    })
                            .success(function (response) {

                                template = response;
                                $('#search').html(template);
                            })
                            .fail(function (jqXHR, textStatus, errorThrown) {
                                alert('Error : ' + errorThrown);
                            });
                } else if (count >= 7) {
                    $('#search').show();
                    $('#search').html('Not found');
                }
            });
        })
    </script>
{% endblock %}
</body>
</html>
