{% extends '@App/layoutAdmin.html.twig' %}

{% block panel %}
    <div class="col-md-6 col-md-offset-3 well" style="background-color: white">
        {{ form_start(form) }}
        <div>
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        <br/>
        <div>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <br/>
        <div>
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <br/>
        <div>
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
        <br/>
        <div>
            {{ form_widget(form.plain_password.first, {'attr' : {'placeholder' : 'Password, not be less than 6 characters'}}) }}
            {{ form_errors(form.plain_password.first) }}
        </div>
        <br/>
        <div>
            {{ form_widget(form.plain_password.second, {'attr' : {'placeholder' : 'Repeat Password'}}) }}
            {{ form_errors(form.plain_password.second) }}
        </div>
        <br/>
        {{ form_rest(form) }}
        <br/>
        <input type="submit" VALUE="Register" class="btn btn-large btn-primary" id="submit">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#app_bundle_user_type_username').keyup(function(){
                $('#app_bundle_user_type_username').css('background', 'white');
                var enterData = $('#app_bundle_user_type_username').val();
                var count = enterData.length;
                if (count > 4) {
                    $.ajax({
                        type: "POST",
                        data: {
                            username: enterData
                        },
                        url: "{{ path('register_check_username') }}"
                    })
                            .success(function (response) {
                                if (response == 'Yes') {
                                    $('#submit').attr('disabled', false);
                                } else {
                                    $('#app_bundle_user_type_username').css('background', 'red');
                                    $('#submit').attr('disabled', true);
                                }
                            });
                }
            });

            $('#app_bundle_user_type_email').blur(function(){
                $('#app_bundle_user_type_email').css('background', 'white');
                var enterData = $('#app_bundle_user_type_email').val();
                var count = enterData.length;
                if (count > 1) {
                    $.ajax({
                        type: "POST",
                        data: {
                            email: enterData
                        },
                        url: "{{ path('register_check_email') }}"
                    })
                            .success(function (response) {
                                if (response == 'Yes') {
                                    $('#submit').attr('disabled', false);
                                } else {
                                    $('#app_bundle_user_type_email').css('background', 'red');
                                    $('#submit').attr('disabled', true);
                                }
                            });
                }
            });
        });

    </script>
{% endblock %}