{% extends '@App/layoutAdmin.html.twig' %}

{% block panel %}
<div class="jumbotron" style="background-color: white">
    <h4>{{ 'Admin panel' | trans }}</h4>
    <table class="table table-condensed table-hover">
        <tr class="success">
            <th>{{ knp_pagination_sortable(posts, 'Title article' | trans, 'p.titlePost') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Category' | trans, 'c1.categoryName') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Date create' | trans, 'p.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Date last update' | trans, 'p.updateAt') }}</th>
            <th>{{ 'Edit' | trans }}</th>
            <th>{{ 'Remove' | trans }}</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('show_post', {'slug': post.slug }) }}">{{ post.titlePost | capitalize }}</a></td>
                <td>{{ post.category.categoryName | upper }}</td>
                <td>{{ post.createdAt|date('d.m.Y H:i') }}</td>
                <td>{{ post.updateAt|date('d.m.Y H:i') }}</td>
                <td>{{ form(form_edit[post.slug]) }}</td>
                <td>{{ form(form_delete[post.slug]) }}</td>
            </tr>
        {% endfor %}

    </table>
    {% if posts.getTotalItemCount > 10 %}
        <div class="text-center">
            {{ knp_pagination_render(posts) }}
        </div>
    {% endif %}
</div>
{% endblock %}






