{% extends '@App/layoutAdmin.html.twig' %}

{% block panel %}
<div class="jumbotron">
    <table class="table table-condensed table-hover">
        <tr class="info">
            <th>{{ knp_pagination_sortable(posts, 'Title article', 'p.titlePost') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Category', 'c1.categoryName') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Date create', 'p.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(posts, 'Date last update', 'p.updateAt') }}</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ post.titlePost | capitalize }}</td>
                <td>{{ post.category.categoryName | capitalize }}</td>
                <td>{{ post.createdAt|date('d.m.Y H:i') }}</td>
                <td>{{ post.updateAt|date('d.m.Y H:i') }}</td>
                <td>{{ form(form_edit[post.slug]) }}</td>
                <td>{{ form(form_delete[post.slug]) }}</td>
            </tr>
        {% endfor %}

    </table>
    {% if posts.getTotalItemCount > 10 %}
        <div class="text-center">
            {{ knp_pagination_render(posts) }}
        </div>
    {% endif %}
</div>
{% endblock %}







