{% extends '@App/layoutAdmin.html.twig' %}

{% block panel %}
    <div class="jumbotron" style="background-color: white">
        <h4>{{ 'Users' | trans }}</h4>
        <form class="navbar-form pull-right" method="post" action="{{ path('search_register_users') }}">
            <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="{{ 'Search' | trans }}" name="srch">

                <div class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="submit"><i
                                class="glyphicon glyphicon-search" ></i></button>
                </div>

            </div>
        </form>
        <table class="table table-condensed table-hover">
            <caption>
                * - {{ 'For change of a role click "Role" of the user' | trans }}
                <br/>
                ** - {{ 'For access restriction click "Is Active" of the user' | trans }}
            </caption>
            <tr class="success">
                <th>{{ knp_pagination_sortable(users, 'Login' | trans, 'u.username') }}</th>
                <th>{{ knp_pagination_sortable(users, 'First Name' | trans, 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Last Name' | trans, 'u.lastName') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Email' | trans, 'u.email') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Date create' | trans, 'u.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Date last update' | trans, 'u.updateAt') }}</th>
                <th>{{ 'Role' | trans }}</th>
                <th>{{ 'Is Active' | trans }}</th>
            </tr>
            {% for user in users %}
                {% if user.roles | join != 'ROLE_ADMIN' %}
                    <tr>
                        <td><a href="{{ path('show_users', {'slug': user.slug }) }}">{{ user.username }}</td>
                        <td>{{ user.firstName | capitalize }}</td>
                        <td>{{ user.lastName | capitalize }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date('d.m.Y H:i') }}</td>
                        <td>{{ user.updateAt|date('d.m.Y H:i') }}</td>
                        {% if user.roles | join == 'ROLE_USER' %}
                            <td><a href="{{ path('set_role', {'role': 'ROLE_MODERATOR', 'slug': user.slug }) }}">{{ user.roles | join }}</a></td>
                        {% elseif user.roles | join == 'ROLE_MODERATOR' %}
                            <td><a href="{{ path('set_role', {'role': 'ROLE_USER', 'slug': user.slug }) }}">{{ user.roles | join }}</a></td>
                        {% endif %}
                        {% if user.isActive == true %}
                            <td><a href="{{ path('set_is_active', {'isActive': 0, 'slug': user.slug}) }}">{{ 'Deactive' | trans }}</a></td>
                        {% else %}
                            <td><a href="{{ path('set_is_active', {'isActive': 1, 'slug': user.slug}) }}">{{ 'Active' | trans }}</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
        {% if users.getTotalItemCount > 10 %}
            <div class="text-center">
                {{ knp_pagination_render(users) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


    </script>
{% endblock %}






