{% extends '@App/layoutAdmin.html.twig' %}

{% block panel %}
<div class="col-md-12 well">
    <div class="col-md-4">
        {% if form is not defined %}
        <table class="table-condensed table-bordered" style="font-size: large">
            <tr>
                <td>{{ 'Login' | trans }}</td>
                <td>{{ profile.username }}</td>
            </tr>
            <tr>
                <td>{{ 'Name' | trans }}</td>
                <td>{{ profile.firstName | capitalize }} {{ profile.lastName | capitalize }}</td>
            </tr>
            <tr>
                <td>{{ 'Email' | trans }}</td>
                <td>{{ profile.email }}</td>
            </tr>
            <tr>
                <td>{{ 'Date register' | trans }}</td>
                <td>{{ profile.createdAt | date("d-m-Y") }}</td>
            </tr>
            <tr>
                <td>{{ 'Date last update' | trans }}</td>
                <td>{{ profile.updateAt | date("d-m-Y") }}</td>
            </tr>
        </table>
        <br/>
        <a href="{{ path('user_profile_edit') }}" class="btn btn-large btn-primary">{{ 'Edit profile' | trans }}</a>
        {% endif %}
        <br/>
        {% if form is defined %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br/>
            <button class="btn btn-large btn-primary">{{ 'Save' | trans }}</button>
            {{ form_end(form) }}
        {% endif %}
    </div>
    <div class="col-md-8">
        <table class="table-condensed table-bordered">
            <tr>
                <th>{{ 'Count your posts' | trans }}</th>
                <th>{{ 'Count your comments' | trans }}</th>
                <th>{{ 'All comments your posts' | trans }}</th>
                <th>{{ 'Max rating your posts' | trans }}</th>
            </tr>
        <tr style="text-align: center">
            <td><div class="label label-primary">{{ countPosts }}</div></td>
            <td><div class="label label-primary">{{ countComments }}</div></td>
            <td><div class="label label-primary">{{ allComment }}</div></td>
            <td><div class="label label-primary">{{ maxRating }}</div></td>
        </tr>
        </table>
    </div>
</div>
{% endblock %}