{% extends '@App/layout.html.twig' %}

{% block panel %}
    {% for post in posts %}
        <div class="panel panel-success">
            <div class="panel-heading" style="margin-bottom: 0">

                <a href="{{ path('show_category', {'slug': post.category.slug}) }}"
                   class="pull-right">Category: {{ post.category.categoryName | upper }}</a>
                <h4>{{ post.titlePost | capitalize | purify }}</h4>
                <small>Rating post</small>
                <span class="badge badge-info">{{ post.rating|round(1, 'floor') }}</span>
                {% if post.pathImage starts with 'http:' and post.nameImage and post.pathImage %}
                    <a href="{{ path('show_post', {'slug': post.slug}) }}"><img src="{{ post.pathImage }}" class="img-thumbnail pull-right"
                         alt="{{ post.nameImage }}" style="width: 140px; margin-left: 10px"></a>
                {% endif %}
                {% if post.pathImage starts with 'img/' and post.nameImage and post.pathImage %}
                    <a href="{{ path('show_post', {'slug': post.slug}) }}"><img src="{{ post.pathImage | imagine_filter('posts_show') }}" class="img-thumbnail pull-right"
                         alt="{{ post.nameImage }}" style="margin-left: 10px"></a>
                {% endif %}
            </div>

            <div class="panel-body">

                <p>{{ post.textPost | limitWords(25) | purify }}</p>
                <h5><a href="{{ path('show_post', {'slug': post.slug }) }}">More >>></a></h5>
                <i class="glyphicon glyphicon-time"></i>
                <small>Published {{ post.createdAt|date('d.m.Y H:i') }} by Anonymous</small>
                {#   {% if post.createdAt < post.updateAt %}
                       <small>Updated {{ post.updateAt|date('d.m.Y H:m') }} by Anonymous</small>
                   {% endif %}#}

                {% for tag in post.tags %}
                    <div class="pull-right">
                        <i class="glyphicon glyphicon-tag" style="margin-left: 7px"></i>
                        <a href="{{ path('show_tags', {'slug': tag.slug}) }}">{{ tag.tagName | lower }}</a>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endfor %}
    <div id="ajax_load"></div>
    <br/>
    <p id="loading" style="display:none"><img src="{{ asset('img/ajax-loader(1).gif') }}" alt=""/></p>
    <br/>
    <input type="submit" VALUE="Show More >>>" class="btn btn-large btn-primary" id="ajax"
           style="margin-bottom: 50px">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var page = 2;

        $(document).ready(function () {
            $('#ajax').click(function () {
                $('#loading').show();
                $.ajax({
                    type: "POST",
                    dataType: 'html',
                    data: {
                        page: page
                    },
                    url: "{{ path('homepage') }}"
                })
                        .success(function (response) {
                            if (response == '') {
                                $('#ajax').attr('disabled', true);
                                $('#loading').hide();
                            }
                            page++;
                            template = response;
                            $('#loading').hide();
                            $('#ajax_load').append(template);
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        });
            });
        });

    </script>
{% endblock %}



