{% extends '::base.html.twig' %}


{% block panel %}
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading" style="margin-bottom: 0">

                <a href="{{ path('show_category', {'slug': post.category.slug}) }}" class="pull-right">Category: {{ post.category.categoryName }}</a>
                <h4>{{ post.titlePost }}</h4>
                <small>Rating post</small>
                <span class="badge badge-info">{{ post.rating|round(1, 'floor') }}</span>
                {% if post.pathImage and post.nameImage %}
                    <img src="{{ post.pathImage | imagine_filter('posts_show') }}" class="img-thumbnail pull-right"
                         alt="{{ post.nameImage }}">
                {% endif %}
            </div>

            <div class="panel-body">

                <p>{{ post.textPost|slice(0, 250) }}</p>
                <h5><a href="{{ path('show_post', {'slug': post.slug }) }}">More >>></a></h5>
                <small>Published {{ post.createdAt|date('d.m.Y H:m') }} by Anonymous</small>
                {% if post.createdAt < post.updateAt %}
                    <small>Updated {{ post.updateAt|date('d.m.Y H:m') }} by Anonymous</small>
                {% endif %}

                {% for tag in post.tags %}
                    <div class="pull-right">
                        <a href="{{ path('show_tags', {'slug': tag.slug}) }}">| {{ tag.tagName }} |</a>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endfor %}
    <div id="ajax_load"></div>
    <br/>
    <p id="loading" style="display:none"><img src="{{ asset('bundles/framework/images/loading.png') }}" alt="" /></p>
    <br/>
    <input type="submit" VALUE="Show More >>>" class="btn btn-large btn-primary" id="ajax">
{% endblock %}

{% block sidebar1 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Most Popular</h4>
            {{ render(controller('AppBundle:Blog:showMostPopular')) }}
        </div>
    </div>
{% endblock %}

{% block sidebar2 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Last comments</h4>
            {{ render(controller('AppBundle:Blog:showLastComment')) }}
        </div>
    </div>
{% endblock %}

{% block sidebar3 %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Tags cloud</h4>
            {{ render(controller('AppBundle:Blog:TagsCloud')) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var page = 2;

        $(document).ready(function() {
            $('#ajax').click(function () {
                $('#loading').show();
                $.ajax({
                    type: "POST",
                    dataType: 'html',
                    data: {
                        page: page
                    },
                    url: "{{ path('homepage') }}"
                })
                        .success(function (response) {
                            if (response == '') {
                                $('#ajax').attr('disabled',true);
                                $('#loading').hide();
                            }
                            page++;
                            template = response;
                            $('#loading').hide();
                            $('#ajax_load').append(template);
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            alert('Error : ' + errorThrown);
                        });
            });
        })
    </script>
{% endblock %}



